:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --logo-scale: 1;
  --service-img-scale: 1;
  --category-img-scale: 1;
}

.clickable-hover {
  transition: all 0.2s ease;
  cursor: pointer;
}

.clickable-hover:hover {
  opacity: 0.8;
  transform: translateY(-1px);
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #ffffff;
  color: #213547;
}

html, body, #root {
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
